.knight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.knight.selected {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.7));
  z-index: 10; /* Asegura que el Yoshi seleccionado esté por encima de otros elementos */
}

.yoshi-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: all 0.2s ease;
}

.selected .yoshi-image {
  transform: scale(1.1);
}

/* Efecto de hover opcional */
.knight:hover .yoshi-image {
  transform: scale(1.05);
}